<div class="home-page">
    <div class="frames">
        <div class="sidenav">
            <div class="logo">

                <img src="../../assets/bizpay-logo.svg" alt="logo" class="logo-image">

            </div>
            <div class="navigation-buttons">
                <button class="nav-btn">
                    <img src="../../assets/icons/home.svg" class="button-icon">
                    <p class="button-name">Home</p></button>
                <button class="nav-btn">
                    <img src="../../assets/icons/expense.svg" class="button-icon">
                    <p class="button-name">Expenses</p></button>
                <button class="nav-btn">
                    <img src="../../assets/icons/report.svg" class="button-icon">
                    <p class="button-name">Reports</p></button>
                <button class="nav-btn">
                    <img src="../../assets/icons/card.svg" class="button-icon">
                    <p class="button-name">Wallet</p></button>
                <button class="nav-btn">
                    <img src="../../assets/icons/money-req.svg" class="button-icon">
                    <p class="button-name">Money Requests</p></button>
                <button class="nav-btn">
                    <img src="../../assets/icons/settings.svg" class="button-icon">
                    <p class="button-name">Settings</p></button>
            </div>

            <div class="bottom">
                <img src="../../assets/icons/toggle-icon.svg">
                <p class="">Toggle sidebar</p>
            </div>
        </div>
        <div class="content">
            <div class="header">

                <div class="profile">
                    <div class="profile-picture">
                        <img class="profile-image" src="../../assets/profile-pic.png">
                    </div>
                    <div class="profile-details">
                        <p class="name">John Smith
                        </p>
                        <p class="sub-title">(Admin)</p>
                    </div>
                </div>

                <div class="icon">
                    <img src="../../assets/icons/notification.svg">
                </div>
            </div>
            <div class="main-content">
                <div class="content-header">
                    <p class="wallet txt">
                        Wallet
                    </p>
                    <div class="box-content">
                        <div class="box1">

                        </div>
                        <div class="box2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>